[mysqld]
socket		= /var/run/mysqld/mysqld.sock
port		= 3306
bind-address = 0.0.0.0
max_connections		= 100
connect_timeout		= 5
wait_timeout		= 600
max_allowed_packet	= 16M
thread_cache_size       = 128
sort_buffer_size	= 4M
bulk_insert_buffer_size	= 16M
tmp_table_size		= 32M
max_heap_table_size	= 32M
default_storage_engine	= InnoDB
!includedir /etc/my.cnf.d